.c-container {
  margin: 0 auto;
  max-width: $site-width;
  padding-bottom: $space_3l;
  padding-top: $space_3l;

  &-fluid {
    box-sizing: border-box;
    justify-content: center;
    padding-bottom: $space_3l;
    padding-left: $space_xl;
    padding-right: $space_xl;
    padding-top: $space_3l;
    width: 100%;
  }

  &__title {
    font-size: $font-size_3l;
    margin-bottom: $space_3l;
    text-align: center;
  }
}
