.c-session-msg {
  background: rgba(122, 206, 230, 0.6);
  box-sizing: border-box;
  color: #fff;
  display: none;
  height: 6.5rem;
  line-height: 6.5rem;
  position: fixed;
  text-align: center;
  width: 100%;
}
