.p-header {
  align-items: center;
  background: $color_main;
  display: flex;
  height: 6.5rem;
  list-style: none;
  justify-content: space-between;
  padding-left: $space_3l;
  padding-right: $space_3l;

  &__title {
    color: #fff;

    a:hover {
      color: #fff;
    }
  }
}

.p-menu {

  display: flex;
  height: 100%;

  @include mq() {
    background: rgba(255, 255, 255, .85);
    flex-direction: column;
    height: 100vh;
    position: absolute;
    left: 100%;
    top: 0;
    transition: all .6s;
    width: 100%;
      &.active {
        left: 0;
        transition: all .6s;
      }
  }

  &-item {
    line-height: 6.5rem;
  }

  &-link {
    color: #fff;
    display: block;
    padding-left: $space_xl;
    padding-right: $space_xl;

    &:hover {
      background: #fff;
      color: $color_main;
      text-decoration: none;
    }
  }
}
